<% include partials/head%>
<div class="content" id="content-wrapper">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8 col-xl-4 mb-4" id="create-P">
        <div class="card shadow border-left-dark py-2 card-1">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col mr-2">
                <div class="text-uppercase mb-1 text-title-product"><span><a class="text-dark text-xs list-style"
                      href="/#products/option-template">Crear
                      Productos</a></span>
                </div>
                <div class="text-dark h5 mb-0"></div>
              </div>
              <div class="col-auto"><i class="far fa-window-restore fa-2x text-gray-300"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-xl-4 mb-4" id="list-P">
        <div class="card shadow border-left-dark py-2 card-1">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col mr-2">
                <div class="text-uppercase text-dark text-title-product text-xs mb-1"><span> <a
                      class="text-dark text-xs list-style" href="/#products/list-product">Administrar
                      productos</a></span></div>
                <div class="text-dark font-weight-bold h5 mb-0"></div>
              </div>
              <div class="col-auto"><i class="far fa-list-alt fa-2x text-gray-300"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-xl-4 mb-4" id="report-P">
        <div class="card shadow border-left-dark py-2 card-1">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col mr-2">
                <div class="text-uppercase text-dark text-title-product text-xs mb-1"><span>ver reporte de
                    productos</span></div>
              </div>
              <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/scripts%>