<div class="container" id="container-list-template">
  <div class="row" style="padding-bottom: 20px;">
    <div class="col" id="list-product-close">
      <h4>Elije tu template favorito </h4>
      <hr>
    </div>
    <div class="row">
      <div class="col">
        <div id="check-template-1" onclick="selectTemplate(this.id)">
          <div class="card shadow card-1 mt-3">
            <img class="card-img-top" src="./assets/images/template.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Template #1</h5>
              <button id="btn-template-1" class="btn btn-success btn-sm btn-small"> <a class="text-white"
                  href="/#products/template-data" style="text-decoration: none">Editar</a> <i
                  class="far fa-edit"></i></button>
              <i id="icon-1" class="fas fa-check-circle text-dark float-right font-size-icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="check-template-2" onclick="selectTemplate(this.id)">
          <div class="card shadow card-1 mt-3">
            <img class="card-img-top" src="./assets/images/template.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Template #2</h5>
              <button id="btn-template-2" class="btn btn-success btn-sm btn-small"> <a class="text-white"
                  href="/#products/template-data" style="text-decoration: none">Editar</a> <i
                  class="far fa-edit"></i></button>
              <i id="icon-2" class="fas fa-check-circle text-dark float-right font-size-icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include partials/scripts%>