<div class="m-2 ">
  <button type="button" class="btn btn-outline-dark btn-sm ">Editar <i class="fas fa-edit "></i>
  </button>
  <button type="button" class="btn btn-outline-success btn-sm" onclick="templateSelected(this)">Vista previa <i class="fas fa-eye "></i></button>
</div>
<div class="row d-flex justify-content-center mt-3">
  <div class="col-sm-12 col-md-12 col-lg-9">
    <div class="row" style="padding-bottom: 20px;">
      <div class="col text-center">
        <h4 class="text-dark">Ingrese los datos del producto</h4>
      </div>
    </div>
    <div class="row" style="padding-bottom: 10px;">
      <div class="col">
        Nombre del producto
      </div>
    </div>
    <div class="row" style="padding-bottom: 10px;">
      <div class="col">
        <div class="form-group">
          <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
            placeholder="Ingrese el nombre del producto">
        </div>
      </div>
    </div>
    <div class="row" style="padding-bottom: 10px;">
      <div class="col">
        Precio
      </div>
    </div>
    <div class="row" style="padding-bottom: 10px;">
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="price" placeholder="Ingrese el precio del producto">
        </div>
      </div>
    </div>
    <div class="row" style="padding-bottom: 10px;">
      <div class="col">
        Descripcón del Producto
      </div>
    </div>
    <div class="row" style="padding-bottom: 10px;">
      <div class="col">
        <div class="form-group">
          <textarea class="form-control" id="description" rows="3" placeholder="Descripción de su producto"></textarea>
        </div>
      </div>
    </div>
    <div class="row" style="padding-bottom: 10px;">
      <div class="col">
        <form action="" method="post">
          <div class="form-group">
            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Agregar
              Imagen</button>
            <div class="image-upload-wrap">
              <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
              <div class="drag-text">
                <h3>Seleciona una imagen de tu producto </h3>
              </div>
            </div>
            <div class="file-upload-content">
              <img class="file-upload-image" src="#" alt="your image" />
              <div class="image-title-wrap">
                <button type="button" onclick="removeUpload()" class="btn btn-danger btn-block">Eliminar
                  <span class="image-title">Uploaded
                    Image</span></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row" style="padding-bottom: 10px;">
      <div class="col">
        <button type="button" class="btn btn-success">Guardar datos</button>
      </div>
    </div>
  </div>
</div>