/* ********************** Modal Demo - @ ****************** */
/* body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */
.display{
  transition:  1s ease-out;
  display: none !important; 
}
.modal-box2 {
  font-family: 'Varela Round',sans-serif;
}

.modal-box2 .show-modal {
  color: #222;
  background-color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px 15px;
  margin: 80px auto 0;
  border: none;
  outline: 0;
  box-shadow: 0 0 10px #555;
  display: block;
}

.modal-box2 .show-modal:focus, .modal-box2 .show-modal:hover {
  color: #222;
  background-color: #fff;
  border: none;
  outline: 0;
  text-decoration: none;
}

.modal-backdrop.in {
  opacity: .1;
}

.modal-box2 .modal {
  top: 70px!important;
}

.modal-box2 .modal-dialog {
  width: 400px;
  margin: 30px auto 10px;
}

.modal-box2 .modal-dialog .modal-content {
  border-radius: 25px;
  box-shadow: 0 0 25px -8px #555;
}

.modal-box2 .modal-dialog .modal-content .close {
  color: #e74c3c;
  background-color: #fff;
  font-size: 28px;
  text-shadow: none;
  line-height: 33px;
  height: 33px;
  width: 33px;
  opacity: 1;
  border-radius: 50%;
  box-shadow: 0 0 5px #555;
  position: absolute;
  left: auto;
  right: -5px;
  top: -5px;
  z-index: 1;
  transition: all .3s;
}

.modal-box2 .modal-dialog .modal-content .close span {
  margin: -1px 0 0 0;
  display: block;
}

.modal-box2 .modal-dialog .modal-content .close:hover {
  color: #fff;
  background-color: #e74c3c;
}

.modal-box2 .modal-dialog .modal-content .modal-body {
  padding: 50px 20px!important;
}

.modal-box2 .modal-dialog .modal-content .modal-body .icon {
  color: #306B2D;
  font-size: 36px;
  text-align: center;
  text-shadow: 4px 0 0 #fff,0 -3px 0 #fff;
  line-height: 40px;
  height: 50px;
  width: 50px;
  margin: 0 auto 30px;
  position: relative;
  z-index: 1;
}

.modal-box2 .modal-dialog .modal-content .modal-body .icon:after {
  content: '';
  height: 45px;
  width: 45px;
  border: 5px solid #c1c1c1;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  top: 3px;
  z-index: -1;
}

.modal-box2 .modal-dialog .modal-content .modal-body .title {
  margin: 0 0 20px 0;
  font-size: 20px;
  color: #222;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
}

.modal-box2 .modal-dialog .modal-content .modal-body .description {
  color: #999;
  text-align: center;
  margin: 0 0 15px;
}

.modal-box2 .modal-dialog .modal-content .modal-body .subscribe {
  color: #fff;
  background-color: #306B2D;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 0 auto;
  border: 0 solid #222;
  border-radius: 50px;
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 1;
  transition: all .3s;
}

.modal-box2 .modal-dialog .modal-content .modal-body .subscribe:hover {
  background-color: #222;
}

@media only screen and (max-width:768px) {
  .modal-dialog {
    width: 400px!important;
  }
}

@media only screen and (max-width:576px) {
  .modal-dialog {
    width: auto!important;
  }
}

/* font size icon */
.font-size-icon{
font-size: 30px;
}



/* button matrial  */

/* .wrapper {
  background-color: #ffffff;
  min-height: 100%;
  padding: 60px 0;
}


.form-row {
  margin-left: -15px;
  margin-right: -15px;
}
.form-row .form-group {
  padding: 15px 15px 0;
  align-self: flex-end;
}

.form-group {
  position: relative;
  padding-top: 15px;
  margin-bottom: 30px;
}

.form-control {
  border: 0;
  border-radius: 0;
  padding: 10px 10px;
  background-color: transparent;
  position: relative;
  z-index: 2;
  font-size: 0.9rem;
}
.form-control:not(textarea) {
  height: 44px;
}
.form-control + label {
  position: absolute;
  z-index: 1;
  top: 25px;
  margin: 0;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  left: 10px;
  right: 10px;
}
.form-control:focus {
  box-shadow: none;
  background-color: transparent;
}
.form-control:focus + label {
  color: rgb(38, 218, 119);
}
.form-control:focus + label, .form-control.has-value + label {
  font-size: 0.75rem;
  top: 0;
}

.no-js .form-control + label {
  font-size: 0.75rem;
  top: 0;
}

.form-row .form-control + label {
  left: 25px;
  right: 25px;
}
.form-row .line {
  left: 15px;
  right: 15px;
} */

/* .line {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000000;
  background-image: -o-linear-gradient(left, #26C6DA 0%, #673AB7 100%);
  background: linear-gradient(to right, #000000 0%, #13110c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}
.line:after {
  content: "";
  height: 2px;
  position: absolute;
  display: block;
  background: #000000;
  left: 0;
  right: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
} */

.form-control:focus ~ .line:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

select.form-control:not([size]):not([multiple]) {
  height: 44px;
}


/* images upload  */




.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.content {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* a link   */
.list-style{
  text-decoration: none !important;
}


/* scrool style  */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.text-hover{
  color: #222 !important;
}
.text-hover:hover{
  color: rgb(255, 255, 255) !important;
}