<div class="container pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-12 col-sm-12">
      <div class="d-flex justify-content-center">
        <img class="img-fluid" src="assets/images/Samsung-S10-5G-Crown-Silver.png">
      </div>
    </div>
    <div class="col-lg-12 col-sm-12 mt-2">
      <h1>Samsung-S10-5G-Crown-Silver</h1>
      <h5 class="mt-2 text-danger">B/.300.00</h5>
      <hr>
      <h4>Descripción</h4>
      <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio
        mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de
        las letras, al
        contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un
        español que se puede leer.<br></p><button class="btn btn-danger btn-block btn-lg" type="button">Pagar <img src="assets/icon/tarjeta-de-credito.svg" style="    width: 30px;"> </button>
    </div>
  </div>
</div>